@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/sarabun/Sarabun-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/sarabun/Sarabun-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/sarabun/Sarabun-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/sarabun/Sarabun-ExtraBold.ttf") format("truetype");
}
